#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App{
 background: rgba(128, 128, 128, 0.744);
 padding: 20px;
 border-radius: 20px;
 box-shadow: 40px 29px 80px 9px rgba(8, 182, 191, 0.803)
}
.left{
  width: 40%;
  float: left;
}
.law{
  width: 60%;
  float: left;
}
 p{
  font-size: 20px;
 }
 body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:bottom;
 }
b{
  color: rgb(82, 6, 174);
}

.city{
  color: rgb(82, 6, 174);
}

.App:hover{
  background: url('https://images.pexels.com/photos/12687687/pexels-photo-12687687.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
  background-position: center;
  background-size:cover;
  cursor: pointer;
  transform: translateY(20px);
  transition: 2s;

}